<div class="container mt-5">
    
    <div class="row text-center" id="titulo">
        <h1>CRUD</h1>
        <h2>Angular + Node + MongoDB + Azure</h2>
    </div>

    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">LISTADO DE PRODUCTOS</span>

                    <button class="btn btn-success float-end" routerLink="/crear-producto">NUEVO</button>

                    <table class="table table-striped mt-3" *ngIf="listProductos.length > 0" >
                        <thead>
                            <tr>
                            <th scope="col">Producto</th>
                            <th scope="col">Categoría</th>
                            <th scope="col">Ubicación</th>
                            <th scope="col">Precio</th>
                            <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr *ngFor="let producto of listProductos">
                                <td>{{ producto.nombre }}</td>
                                <td>{{ producto.categoria }}</td>
                                <td>{{ producto.ubicacion }}</td>
                                <td>{{ producto.precio | currency: 'USD'  }}</td>
                                <td>                                    
                                    <i [routerLink]="['/editar-producto', producto._id]" class="fas fa-edit text-primary"></i>
                                    <i (click)="eliminarProducto(producto._id)" class="fas fa-trash text-danger"></i>
                                </td>
                            </tr>
                           
                        </tbody>
                    </table>

                    <h5 style="text-align: start; margin-top: 10px" *ngIf="listProductos.length == 0">No hay productos para mostrar</h5>

                </div>
            </div>
        </div>
    </div>

    <div class="row text-center" id="info">
        <p><a href="https://josuevelazquez.online/?portfolio=crud-angular-node-mongo-azure/" target="_self">Información técnica de este proyecto</a> y no olvides visitar mi sitio web <a href="https://josuevelazquez.online/" target="_blank">Josue Velazquez</a></p>
        <p>Curso gratuito creado por <a href="https://www.udemy.com/user/tomas-ruiz-diaz/" target="_blank">Tomas Ruiz Diaz</a> y publicado en <a href="https://www.udemy.com/course/crud-productos-stack-mean/" target="_blank">Udemy</a></p>
        <p>NOTA: Los registros se <strong>eliminarán automáticamente</strong> después de <strong>30 minutos</strong> de su fecha de creación</p>
    </div>

    <ngx-spinner type="ball-circus"></ngx-spinner>
</div>