
body {
    
    margin: 0px;
    background: #000428;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.titulo {
    font-size: 1.8rem;
    font-family: 'Montserrat', sans-serif;
}

.fas {
    cursor: pointer;
    margin-right: 14px;
}

.text-danger {
    text-align: start;
    margin-left: 0px;
}